##ignore file##
/target/
/.idea/


/.idea/*.xml
.gitignore
.classpath
.project
.settings

*.iml

##filter databfile  sln file##

##class file##
*.com
*.dll
*.exe
*.o
*.so
*.class

## compression file ##
*.jar

